
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body background */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Container for the login form */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  /* margin-top: 50%; */
  margin: 0 auto;
  padding: 20px;
  background-color: #bfdad8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Logo styling */
.logo {
    text-align: center;
    margin-bottom: 20px;
}
.logo img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

/* Form input fields */
.form-group {
    margin-bottom: 15px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Login button */
button {
    width: 100%;
    padding: 12px;
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #038c5a;
}

/* Center the form on the page */
form {
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body background image */
.background-image {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 100%;;
    background-image: url('/static/images/login_image.jpg'); /* Replace with your image path */
    background-size:100%;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 10px;
}

