{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardware Inventory Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="background-image"></div>
        <div>
            <div class="container">
                <div class="logo">
                    <a href="#">
                        <img src="/static/images/TechArmy.png" alt="Hardware Shop Logo">
                    </a>
                </div>
                
                <form method="post" action="AdminLogin/">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Password"  required>
                    </div>
                    <button type="submit">LOGIN</button>
                </form>
        </div>
        </div>
</body>
</html>
