{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardware Inventory Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="background-image"></div>
        <div>
            <div class="container">
                <div class="logo">
                    <a href="login.html">
                        <img src="{% static 'logo.png' %}" alt="Hardware Shop Logo">
                    </a>
                </div>
                
                <form method="post" action= home>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" >
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" >
                    </div>
                    <button type="submit">Login</button>
                    <button type="submit">LoginPass</button>
                </form>
        </div>
        
        </div>
</body>
</html>
